<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/launcher_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Memo_book"
        tools:targetApi="31">
        <activity
            android:name=".ui.register.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:exported="true" />
        <activity android:name="com.bhp.memo_book.ui.BaseActivity" />

        <activity
            android:name=".memo.MemoBookActivity"
            android:launchMode="singleTask"
            android:exported="true" />

        <activity
            android:name=".memo.NewMatterActivity"
            android:launchMode="singleTask"
            android:exported="true" />

        <activity
            android:name=".memo.MatterDetailsActivity"
            android:launchMode="singleTask"
            android:exported="true" />

        <activity
            android:name=".memo.UserDetailsActivity"
            android:launchMode="singleTask"
            android:exported="true" />
    </application>

</manifest>